@model DrYahya.Models.Data.Address

@{
    

    ViewBag.Title = "Editting address for " + ViewBag.CustomerName;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="site-section col-12">
    <div class="col-3">

    </div>
    <div class="container col-9 text-left" style="font-size:120%;">
        <h2 style="margin-left:5%;" class="text-primary">@ViewBag.Title</h2>
        <br />
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CustomerId)

            <div class="form-group">
                <div class="col-md-8">
                    <label class="control-label">Address:</label>
                    @Html.EditorFor(model => model.AddressContent, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AddressContent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    <label class="control-label">Postal Code:</label>
                    @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", dir = "ltr" } })
                    @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <input type="submit" value="Edit" class="btn btn-outline-primary col-md-4" />
                </div>
            </div>
        </div>
    </div>


</div>
}
